@font-face{
    font-family: bahnschrift;
    src: url(../fonts/bahn/bahnschrift\ ligth.ttf);
}

@font-face{
    font-family: fuentesources;
    src:url(../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf)
}

@font-face{
    font-family: fuentesourcesli;
    src: url(../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf);
}

@font-face{
    font-family: roboto;
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}