@import url(fonts.css);

body{
    margin: 0px;
}

.menu{
    position: fixed;
    text-align: center;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #161920;
    padding: 15px 0px 15px 0px;
    opacity: 0.5;
}

.logo{
    padding: 0px;
    margin: 0px;
}

.logo img{
    width: 100%;
}

header .nav{
    justify-content: flex-end;
    align-items: center;
}

header .nav ul{
    float: right;
    margin-top: 25px;
    padding: 0px;
}

header .nav ul li{
    display: inline-block;
    padding: 10px;
}

header .nav ul li a{
    text-decoration: none;
    color: #ffffff;
    padding: 5px 10px;
    font-family: bahnschrift;
    font-size: 20px;
    text-transform: capitalize;
}

header .nav ul li a:hover{
    border-radius: 0.5em;
    color: #ff0000;
    font-family: bahnschrift;
}

#herocontainer{
    position: relative;
    padding: 0px;
    width: 100%;
    top: 120px;
}

.carousel-item{
    height: 500px;    
}

.textcont{
    font-family: bahnschrift;
    color: #ffffff;
    padding: 170px 50px 100px;
    margin: 0px;
}

.textcont p{
    font-size: 20px; 
}

.textcont h1{
    font-size: 30px;
    text-transform: uppercase;
    margin: 0px;
}

#hero1{
    /* The old syntax, deprecated, but still needed, prefixed, for Opera and WebKit-based browsers */ 
    background: linear-gradient(right, rgba(255,255,255,0), rgb(7, 0, 0)), url(../images/hero/hero1.jpg) center no-repeat;

    /* The new syntax needed by standard-compliant browsers (IE 10 and Firefox 10 onwards), without prefix */  
    background: linear-gradient(to left, rgba(255,255,255,0), rgba(7, 0, 0)), url(../images/hero/hero1.jpg) center no-repeat;
    background-size: cover;
}

#hero2{
    /* The old syntax, deprecated, but still needed, prefixed, for Opera and WebKit-based browsers */ 
    background: linear-gradient(right, rgba(255,255,255,0), rgb(7, 0, 0)), url(../images/hero/hero2.jpg) center no-repeat;

    /* The new syntax needed by standard-compliant browsers (IE 10 and Firefox 10 onwards), without prefix */  
    background: linear-gradient(to left, rgba(255,255,255,0), rgba(7, 0, 0)), url(../images/hero/hero2.jpg) center no-repeat;
    background-size: cover;
}

#hero3{
    /* The old syntax, deprecated, but still needed, prefixed, for Opera and WebKit-based browsers */ 
    background: linear-gradient(right, rgba(255,255,255,0), rgb(7, 0, 0)), url(../images/hero/hero3.jpg) center no-repeat;

    /* The new syntax needed by standard-compliant browsers (IE 10 and Firefox 10 onwards), without prefix */  
    background: linear-gradient(to left, rgba(255,255,255,0), rgba(7, 0, 0)), url(../images/hero/hero3.jpg) center no-repeat;
    background-size: cover;
}

#snosotros{
    margin-top: 150px;
    margin-bottom: 150px;
    font-family: roboto;
    position: relative;
}

#snosotros h1{
    font-family: roboto;
    font-weight: bold;
}

#snosotros img{
width: 360px;
padding: 10px;
}

.nimages{
    text-align: center;
}

#companias{
    margin-top: 90px;
}

#companias img{
    margin: 0px;
    width: 19%;
}

#videos{
    margin: 0px;
    width: 100%;
    position: relative;
    font-family: roboto;

}

#headvideos{
    background: linear-gradient(to left, rgba(255,255,255,0), rgba(7, 0, 0)), url(../images/orig_667269.jpg) center no-repeat;
    margin: 0px;
    padding: 150px 100px;
    text-align: center;
    color: #ffffff;
    position: relative;
}


#headvideos h1{
    font-size: 30px;
    font-weight: bolder;
}

#headvideos h2{
    font-size: 20px;
    font-weight: bolder;
}

#granbox{
    position: relative;
    text-align: center;
}

#videobox{
    top: -50px;
    position: relative;
}

.video img{
    width: 100%;
}

.video video{
    /* width: 100%; */

    width: 355px;
    height: 266px;
}

.video h2{
    color: black;
    text-align: justify;
    font-weight: bolder;
    margin-top: 20px;

}

.video p{
    color: black;
    text-align: justify;
    margin-bottom: 50px;
}

#servicios{
    position: relative;
    color: black;
    margin-bottom: 100px;
}

.servicio img{
    width: 100%;
    height: 258px;
}

.servicio h2{
 padding: 20px 0px 0px;
 font-size: 20px;
}

.servicio p{
 height: 100px;
}

.testimonios{

}

.testimonios img{
    width: 100%;    
}

.tit1{
    text-align: center;
    color: black;
    margin-bottom: 50px;
}

.testimonios h4{
    font-size: 15px;
    margin: 0px;
    padding: 0px;    
}

.testimonios h5{
    
    font-size: 15px;  
    color: gray;
    margin-bottom: 50px; 
}
